div.search {
    position      : fixed;
    display       : flex;
    flex-direction: column;
    right         : 100px;
    width         : 40px;
    height        : 80px;
    bottom        : 90px;

    button {
        width : 100%;
        height: 50%;
    }

    @media (max-width:480px) {
        right: 20px;
    }

    @media (max-width: 768px) and (min-width:480px) {
        right: 60px;
    }
}

div.content-outer {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    background-color: rgb(26, 138, 102);
    width           : 100%;
    height          : 100vh;
    overflow        : hidden;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;

    //轨道

    ::-webkit-scrollbar {
        width              : 3px;
        height             : 90%;
        // background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border-radius: 1em;
        box-shadow   : 0 0 5px rgba(0, 0, 0, 0.2);
        background   : #1DA57A;
    }

    div.detail-content {
        border-radius   : 1em;
        width           : 80%;
        max-width       : 1000px;
        max-height      : calc(100vh - 20px);
        min-height      : calc(100vh - 20px);
        padding         : .5em;
        box-shadow      : 0 0 .5em rgb(0, 0, 0);
        background-color: #fff;
        overflow        : auto;
        scroll-behavior : smooth;

        h1 {
            border-bottom: 1px solid #ccc;
        }

        list-style: circle;

        pre {
            padding         : .5em;
            padding-top     : 0;
            margin          : 0;
            font-size       : .8em;
            border-top      : .2em solid #c3deb7;
            border-bottom   : .2em solid #c3deb7;
            border-left     : .2em solid #c3deb7;
            border-right    : .2em solid #c3deb7;
            width           : 100%;
            background-color: #f6f8fa;
        }

        @media (max-width:750px) {
            width: 92%;
        }
    }
}